<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderSQL">

	<select id="orderPage" resultType="Cart">
		SELECT PNO, PNAME, PPRICE, AMOUNT, ORDERPRICE
		FROM CART
		WHERE CARTUSERID = #{ cartuserid }
	</select>
	
	<select id="sumPrice" resultType="int">
		SELECT SUM(ORDERPRICE)
		FROM CART
		WHERE CARTUSERID = #{ cartuserid }
	</select>

	<insert id="insertOrder" parameterType="Order">
		INSERT INTO ORDERED (ORDERUSERID, TOTALPRICE, ORDERENROLL, CUSTOMERNAME, RECEIVERNAME, ADDRESS1, ADDRESS2, PHONE, ORDERID)
		VALUES (#{ orderuserid }, #{ totalprice }, 
				SYSDATE, #{ customername }, #{ receivername }, #{ address1 }, #{ address2 }, #{ phone }, #{ orderid })
	</insert>
	
	<insert id="insertOrderDetail" parameterType="OrderDetail">
		INSERT INTO ORDERDETAIL (ORDERDETAILNO, ORDERID, PNO, AMOUNT)
		SELECT SEQ_ORDERDETAILNO.NEXTVAL, #{ orderid }, PNO, AMOUNT
		FROM CART
	</insert>
	
	<delete id="deleteCart" parameterType="String">
		DELETE FROM CART
		WHERE CARTUSERID = #{ orderuserid }
	</delete>
	
	<select id="orderList" resultType="OrderList">
		SELECT O.ORDERUSERID, O.TOTALPRICE, O.ORDERENROLL, O.RECEIVERNAME,
       	P.PNAME, OD.ORDERID
		FROM ORDERED O, ORDERDETAIL OD, PRODUCT P
		WHERE O.ORDERID = OD.ORDERID
		AND OD.PNO = P.PNO
		AND P.PNAME = (SELECT MIN(PNAME) FROM PRODUCT P WHERE PNO = OD.PNO)
		AND ORDERUSERID = #{ orderuserid }
	</select>
	
	<select id="orderTotalContents" resultType="int">
		SELECT COUNT (*) FROM ORDERED
		WHERE ORDERUSERID = #{ orderuserid }
	</select>
	
	<select id="orderDetail" resultType="OrderList">
		SELECT O.*, 
		       OD.ORDERDETAILNO, OD.PNO, OD.AMOUNT,
		       P.PNAME, P.PNO, P.PPRICE,
		       PA.CHANGENAME
		FROM ORDERED O
		INNER JOIN ORDERDETAIL OD ON O.ORDERID = OD.ORDERID
		INNER JOIN PRODUCT P ON OD.PNO = P.PNO
		INNER JOIN PATTACHMENT PA ON PA.PNO = OD.PNO
		WHERE PA.PNO = OD.PNO
		AND PA.PANO = (SELECT MIN(PANO) FROM PATTACHMENT
		                WHERE PNO = OD.PNO)
		AND O.ORDERUSERID = #{ orderuserid }
		AND O.ORDERID = #{ orderid }
	</select>
	
	<!-- Access to #{ field } -->
</mapper>
