<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="orderSQL">

	<select id="orderPage" resultType="Cart">
		SELECT PNO, PNAME, PPRICE, AMOUNT, ORDERPRICE
		FROM CART
		WHERE CARTUSERID = #{ cartuserid }
	</select>
	
	<select id="sumPrice" resultType="int">
		SELECT SUM(ORDERPRICE)
		FROM CART
		WHERE CARTUSERID = #{ cartuserid }
	</select>

	<insert id="insertOrder" parameterType="Order">
		INSERT INTO ORDERED (ORDERNO, ORDERUSERID, TOTALPRICE, ORDERENROLL, CUSTOMERNAME, RECEIVERNAME, ADDRESS1, ADDRESS2, PHONE, ORDERID)
		VALUES (SEQ_ORDERNO.NEXTVAL, #{ orderuserid }, #{ totalprice }, 
				SYSDATE, #{ customername }, #{ receivername }, #{ address1 }, #{ address2 }, #{ phone }, #{ orderid })
	</insert>
	
	<delete id="deleteCart" parameterType="String">
		DELETE FROM CART
		WHERE CARTUSERID = #{ orderuserid }
	</delete>
	
	<select id="orderList" resultType="Order">
		SELECT ORDERUSERID, TOTALPRICE, ORDERENROLL, RECEIVERNAME, ORDERID
		FROM ORDERED
		WHERE ORDERUSERID = #{ orderuserid }
	</select>
	
	<select id="orderTotalContents" resultType="int">
		SELECT COUNT (*) FROM ORDERED
		WHERE ORDERUSERID = #{ orderuserid }
	</select>
	
	<select id="orderDetail" resultType="Order">
		SELECT * FROM ORDERED
		WHERE ORDERUSERID = #{ orderuserid }
		AND ORDERID = #{ orderid }
	</select>
	
	<!-- Access to #{ field } -->
</mapper>
