<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productSQL">

	<select id="selectProductList" resultType="Product">
   		SELECT P.*, A.CHANGENAME
		FROM PRODUCT P, PATTACHMENT A 
		WHERE P.PNO = A.PNO
		  AND A.PANO = (SELECT MIN(PANO) FROM PATTACHMENT
		  				WHERE PNO = P.PNO)
		<if test="cno != 0">
		  AND P.CNO = #{ cno }
		</if>
		ORDER BY PENROLL DESC, P.PNO DESC
	</select>
	
	<select id="selectProductTotalContents" resultType="int">
		SELECT COUNT(*) FROM PRODUCT
		<if test="cno != 0">
		WHERE CNO = #{ cno }
		</if>
	</select>
	
	<select id="selectOneProduct" parameterType="int" resultType="Product">
		SELECT * FROM PRODUCT WHERE PNO = #{ pno }
	</select>
	
	<select id="selectPAttachmentList" parameterType="int" resultType="PAttachment">
		SELECT *FROM PATTACHMENT WHERE PNO = #{ pno }
	</select>
</mapper>
