@CHARSET "UTF-8";
.board_title {
    border-bottom: 1px solid black;
    padding: 10px;
    margin-top: 70px;
    margin-bottom: 30px;
}


.board_title_a {
    display: inline-block;
    margin: 5px;
    font-size: xx-large;
    font-weight: 800;
    color: coral
}

.board_title_b {
    display: inline-block;
    font-size: large;
    margin: 5px;
};



#title{
    text-align: left;
    width: 30%;
}
#no, #writer, #date{
    text-align: center;
    width: 15%;
}

#title_write{
    margin-left:50px;
    margin-bottom:20px;
    width: 90%;
}

.form-select{
    width: 20%;
}

.textarea{
    margin-left:50px;
}

textarea{
    row-gap: 10%;
    column-width: 50%;
}
.button{
    margin: 10px;
    text-align: center;
}
.button_view{
    margin: 10px;
    text-align: right;
}

.btn{
    margin: 10px;
}








